* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  background-color: turquoise;
  background-image: linear-gradient(to right, turquoise, rgb(0, 140, 255));
  background-size: cover;
  font-size: 20px;
  padding: 7px 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


}

header .logo {
  width: 120px;
  border: 4px solid rgb(0, 0, 0);
  border-radius:100%;
  display: inline-block;
  vertical-align: middle;
}

header span {
  padding: 4px 4px 5px 8px;
  margin-left:-11.2px;
  font-weight: bold;
  font-size: 25px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 0px 25px 25px 0px;


}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}



nav a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
}

nav a:hover {
  color: white;
}




#contact ul {
  display: flex;
  list-style: none;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 10px;
  background-color: turquoise;
  background-image: linear-gradient(to right, rgba(187, 223, 28, 0.379), rgba(0, 140, 255, 0.345));
  background-color: rgba(39, 188, 233, 0.333);
  text-align: center;
  margin-top: auto;
}




a[href$=".pdf"]:after {
  content: url(../icons/pdfred25x33.png);
  vertical-align: middle;
  margin-left: 6px;  
}