@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

.box {
  background-color: #4CAF50;
  border: #4CAF50 solid;
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  background-color: turquoise;
  background-image: linear-gradient(to right, turquoise, rgb(255, 0, 200));
  background-size: cover;
  font-size: 20px;
  padding: 7px 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


}

header .logo {
  width: 60px;
  
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

header span {
 
  font-weight: bold;
  font-size: 25px;
 


}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}



nav a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
  
}

nav a:hover {
  color: white;
}
a:visited {
  color: black;
  
}




#contact ul {
  display: flex;
  list-style: none;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 10px;
  background-color: turquoise;
  background-image: linear-gradient(to right, rgba(187, 223, 28, 0.379), rgba(0, 140, 255, 0.345));
  background-color: rgba(39, 188, 233, 0.333);
  text-align: center;
  margin-top: auto;
}




/* a[href$=".pdf"]:after {
  content: url(../icons/pdfred25x33.png);
  vertical-align: middle;
  margin-left: 6px;  
} */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
textarea {
  height: 100px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}







@media screen and (max-width: 480px) {
  
  header {
    justify-content: center;
  }

  header span {
    display: none;
  }
  /* nav ul {
    flex-direction: column;
  } */
  
  
  
  /* .logoname {
    display: flex;
    justify-content: center;

  } */







}
  